@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar { 
    width: 10px; 
} 
  
/* Track */
::-webkit-scrollbar-track { 
    background-color: rgb(75 85 99 / 1); 
    border-radius: .375rem;
} 
  
/* Handle */
::-webkit-scrollbar-thumb { 
    background: rgb(31 41 55 /1); 
    border-radius: .375rem; 
} 
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { 
    background: #555; 
}